body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: "roboto_condensedregular", sans-serif;
    color: #fff;
    overflow: hidden;
}

video, #player {
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}

#player.flash {
    width: 100%;
    height: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    background-size: 100% 100%;
}

#overlay.tinted {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAeAAAAEOCAMAAABmRDRVAAAABGdBTUEAALGPC/xhBQAAAC\
    BjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA81BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABYh4bhAAAAUHRSTlPv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8\
    bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoMgoDEUAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAjHElEQVR42\
    u3daZsc1ZEF4KvW1upNQgIEZowHCcRqlrFhAHtsjDHYs5j//29GteaNiBMRJ25myVa77mdVSur3OScis7qrW2vtxvac7M7N9bm1OrdX587q3N2c0+fn\
    3uqcrc7583OxOZerc/X83F+dB5vzyvPzcHUePT+vrs5rm/P66jx+ft5YnTc35xer89bq/Nv6/HJ93t6dX23Pv2/PO915Ys7T0rGv76+++xt3/4L9P2n\
    zL9z8a9f/8PV/YfvfWf/XVv/H9X92+x9ffxFWX431l2X19dl+qdZfttXXb/2F3H5RV1/f9Rd6/SVffe23DGuSNc6aaSO2B9yJtvUp+56O+T4q+iret3\
    3eWbQBs0/8NiLmhR+NCZ8OCRvfk8n3lvaVAT5XwFc74M73lYV8Pd6lbD3llHie8CtK+Gon3AGfowhPwrcm4RMkjH2Zgj68b4l3CVyEzBG/cOE4wid74\
    LIvXdCL+2reA+ECZEy8uPCSJb0Xzgbw7eV8X018vXoWvCC8kdK76eGMdYwlMarpQPjV5YRvZ2O4LVHQpQWa9YXtzOrmrqy0F+NfAeK6MLNozSvpdsgB\
    zPr+IvV1eBeiTZhD4rymy8KLjuG20ABOfdH81eOX4vV1PbP33EMra+OcWA9ibw6zwqNjuHm+t0oDuOL7uOgrhq+nW1AlrT1jO4p54ceHEL6t7pWkcEt\
    9mQE811fWsx9frDtPNnLGxnGI3UE8Q5gtaSDcOt/5C9ZcXy++Pi9p+wwcUpkiNiFeQniBRevkRiv4ni7ki9YrU88Or6dLkUYnUgbGHrFb02LVmilcGM\
    MnzfctDWB1A1zwhfEleD3cqmzkjI1JYhXigrC4WZp3N9wBUwN43Ndbn5P4OrwY13d7HxxSGRkb4jjE/jI9R5gbw63ke++wviQv0qVIoxMpA+OU+HDCt\
    UWrDfmep76PrK9ar8T47eJL8nq2VdgY2iBzxKKm1SBWq5Z5aukKj63SjfQ9XcQXjN8kvopX6y5q6yi7xh0xG2IwiAeFT0nhVvQ9C2+Ae99XsS+oZz++\
    klc38yFoMbPuaoLYhBjUNHhsKYXB7TDzRKsXbnve3pdZoOf4mnru4pvwGl2P54PSSZGdGCNiFWKnphcXvm2Eb26AHd9kwSJ8X4t8QT3L+CJerTsfloH\
    GxpYYhdip6eB2iRL2x7AWbjN8Lxnf12PfOL6Q19PFYh8mh3NWxoCYCjG1TFvhyxnCTfjSN0gl32C9AvF1eKVuYpupctYYuTfGxCDE9Kq1gPAtIdxy39\
    PkBpj1TetZtjPghbrzYSPowBgTqxDTNZ0Lg9vh01y4/QN9nfjGvA4ucPqocEJmYJwRUyF+IcItm7/ZDfBSviK+lteG18OtuGbSELmPsSEOQryUMHE73\
    M3hxvqeHd5Xx1fzAtxc9uPk5M4A2SE2IT6c8Bkr3EQ9429yH/et8r7D8ALcIiqJDZAZ4ncGiGcK3/WEb91s1pe8AXZ958UX8/q6NOwn4tDQibFLPBzi\
    ijBcpaVwW9SXrOe0nRNegJt45idSVsYxcdzTZE0vJ9yW8k3Gbzm+llfqOrRV10xaIytjSVwPcTiIFxFuge/pEr5BPQ/wKt1FZV1naFwndmt6tvBpINx\
    2vAfwLdZzwIt0GdtfU4dRDowRcb2mDyJ8ewVM+Z4Xfc34devZ8r4b8SrdcVXeGhpj4nchsVvT+TIdCJ9zwi31PZvrW6hnlxfpkrCfhoeEdo0RcbWmZw\
    ifpcKN972gfKP1Ctaz084eL9QtmdLagTEmxj2d17RZtTJh5oHHnR4Y++IBTPuK8WvqOY6v4e11XVuf7jNwOGiA3BkjYjfEpqb9VSsSDlZpINz2vP6nN\
    Mz0zeqZ5bW6Pu1nA8dndow54qymFxUWj7TWxK3oe8X4eutVsl1J3z1vF16EO9c1lkbIKsYdcRhiUdPeqpUKc7fDk3CT9bysrzd+ifiGvMDWKH1ePBGz\
    QS4SezWNBvFSwruabof39epZxDfiTXRnuSbSjLFP7O9aaBAfRrhZX+YGeKavqGccX8yrcBeVdZ0Vsk/shBjV9Kgwfzu8FW6+79mSvrqek/hGvBrXNfq\
    CPjmzMC4QoxDrQTxf+MwXboTvxaCvXq9QPXfxTXih7hxV1joyDohRiHVN61WrKHxBCDfO9xL4PuR8nXoW2xWOr+GVurnsf5AndwbGmhiGGO1auqYJ4Y\
    dAmPgOj5VwA77EguX7vln0dePr8CLcMdacGiFXiHVNE8JvhsLsotUJtxfo69TzPr45r9VNYH9DnATaMc6JdYjBIH4Bwu1wvtl6pbcr7dvxYl2PllGlr\
    BGyMu6IPeH3AmG5ah1CuLm+/gJd9wX1rLcritfiprC/TU4KbZFLxHrXAjVdF45vloRwQ77UAr2Ir44vx2twi6gktkGmiaOaniNMrtK9cEt9L/0bpLIv\
    qOf9dmXji3mVbg77ZXByaMcYEasQw11rqumasHOzdJkKN8b3aq4vHr9xfAUv1nVpvxw6LrNv7BODEAer1pDwFSPcKr5yAI/4evXcxTflVbizXUNphcw\
    Q6xDjmh4R5hYtKdy2vtSPMIz74vGr69nGt+MFujTtV/DQzL7xjtiEGNQ0HsTDwsyPtDwXbqen3gJ9wS3QA75ge4bx1bxQtyAan1DZGkfEoKbVIC4IE6\
    v0hbdKn5620PcyX6Dt80nGF9TzPr4hr9TlXf/THF4aGIfEIMR2EKfCb3jC8aKlhdvMBYv0fRL66vgmvAg3B81OzNwbR8QgxPGqVREeWbQa4dsX9FK+X\
    j3b+Ka6rOvX3WGlU2M/xLimlxJmxvC9HTDyvaAWrP776wjfd40vqOeI1+j6tF8Xj8+MjX3ioKa7VYsUfmyEwzFshZv29QdwvEDHvk9dXxDfkBfgznGN\
    pQFyRoxD7C/ThHC+SoMxvBNuoe8Vs2AVfN9Dvnl8Aa+xNVDflE7grI0lMRPicJnmhINF6yoUbplvOoBrvrv16oPIN+NVujNcE2nHOCB2hT9wl+maMDW\
    GO+E2awAv4wvr2fBKXYtrqL4tnMBZIvfGlhjX9OLClTHcgo/5xnfAYMES7+8nvna98uLr82rcUdaMWiOHxF6IvVUrEu6+A8BbtPy7YSnciAH8wAxgb8\
    Eq+X5kfGF8O94+vBZ3Li1mlsYixjtiJ8TZqpUI40VLjOEHxBhu1ne8oKu+u/E71bOJr+YVuont7+iTKFtjTNyHeFfT3qo1IFwq6Z1wg75UQS/hi+p5G\
    1+XV+LOcWWkJXJE3IcY1vTCwklJb4XbmTOAcUGDJ1gL+fb1bOOreDGu9fo9dVLn3lgToxDDmh4XfsMXdkp6GsNnrX6HJAewWaAX8SV4fVuONaUGxhnx\
    MsJmlTZjuHCv1JYu6GFfUM+Kt+tmbAvI/is9sbM2nppaEuOaniW8TEk37MsUdOr7ZMR3W88yvm54MW2uylhbYxVjE2JV07TwkxnCUUmfb4DP84J+KAr\
    6MShobwDHvr9Gvia+kjfCRWp/CE/ibJADYlvTcpmOhdMx3N0Ns9/esRJuwrda0PN9u/V5qud9fH1ejVtB5bA1ckI8hXhX03KZXkS4XNLnZ+38UAXN+s\
    J6tvEFvAB3TNZ1lsaGGIXYrema8FIlfd4c37CgCwtW0bevZ49X6FK0f3QOxYyMMXFQ06HwwKLFlPTFBHzhBHiooL0FmvTV9Qx5lW7B1D8Bcm8MiHFN5\
    8J4lZ5R0gr4QgOPBhgM4Dm++3ru42t5Ma7r9506LLQw1sRdiFVNDwmDMTw7wk36ztmwwgFc9FXxNbxINxGNT6TcGzvEqqaHhLOSLuxZnXCDBe0/w3ph\
    vja+mtfBrcEG0NZYE6MQvyhh5nnWSriFvijAYUEv7Qt4ja5L+yf6uMzQ2BIvLByWdBphKdx0QbO3SEGApwE8LdAFX1nPMS/E5WEjaIvsEauapoWnVdo\
    Zw3xJm1ulfUk3PsB6w6oX9PR8kvKV8d3zGt1A9nviBM7YeEesQ5wKT08t6yUd7FlhhNv8AG8LmhrA0/PnwFfXs5i9ihfjMq6JtEIWxL8XxLamsfD0XJ\
    oaw9uSnhvhZn2ZAHsFjZ5wwAEc+5p61rxSN5b9c3BiZ2wMQzzVdCrsjeHpbri0Z3kRvnSBKwGOCjpZsEhf1M49r2P75/JxlAGx7WlGOFm0opKeE+G2X\
    IDdgvYXLNf3G+Tb88rszpJ1nWWONbFT045wtGhFm/TsCDexYZUC7G7Q0YJV9/V5tW5C90N3WGUbY0s8KuyOYbhn1SJ8JYFnBNjdsNwFi/N14jvxKt1M\
    ND4Rcm/cETs1nQu7i9bAnkVEuC0YYFXQ7h1w0dfndXB52AxaGDvENWH3bliV9GIRbvMDbB9xqILGCxbja+NreBPbv6QnUYbEbk0nwnYM401alfScCDc\
    VYPopdLxhUQOY9UW8ILw111jai7ElJoWpMRzvWbUn0lcTMBHg14gAxxs0HsCpr40vDm9M+6NzYmYcYxjiTDgew3iTTiNMPJG+3AOjAD8cDHBc0GoAk7\
    4ivprXwf2xcBxkRCxDzAjHYxiUdDnCD/0INxDgB+HbSFyAg4JWA3j7/pHj68XX6A7Kus7GOAgxFt6+txSP4b6kSxEO16wuwu2gAQ4K2g5gzhfyurY/E\
    cdVdokZ4XgMByW9cIQbHeDHdIDJgrYDGPu6vEq3LBs4O8aYGAjHYzgoaTLC2Z3SFOEGA5zdIzEBJgraDmDCF/POsoXKPnEqHI9hr6TnRvgVGOHmBdgH\
    Hg0wKmi0YFG+WHeOLVAWxrSwXbS8kh6JMNHRIsJtcMUaCrBX0LkvjK/iRVZ/JU5k3BODEKfCTEnTER5as9qshqYCzBR0zbfjdXEZ2phZGDshjoWZkuY\
    iPN7RjW/oN52G5gJMFPR2AGe+KS8W/Js4lLJHHAnjMRyWNBdh9b07bEc3HeBiQ5u3CbkAcwWd+CLeCNU7AXJPHAuXSpqLcP+m0lhHX+2B75cbGq5YhQ\
    ATBS19u3rueD1cjtZjtsZ74qmmGWFT0sUImzWL7+j7O+CrgR3arFhEgM2GBe6AzQDWviq+WBf6/bc6GbImBiGehJ0xbEoa7llJhM2aVdmjrzzgUkNXA\
    mw2LFvQjK/Lm7Ci4yEj4lw4KOn9nlWN8JyObllDv5Y09H7FMk+h2QD7BY18UXyRLkPrMVtiVNNGOC5pNsL7J9J4zeLfUtp0dDtQQ1cD7Ph+5/oa3sz2\
    f8TJlCExFP7OFa5G+CAd3byGRjdJTEPPDbApaOMr46t5Y1d7XGNNLGpaCUclPRZhoqOjt/0J4HkN/aEATgIcFvT+/gj6Kt4SrcvsEFvh77Wws2dlEZZ\
    vKs3saATM3yThpxxUQxMBrvpK3kFbqAyJC8JEhAc6On8ebYdwKzzGWqKh8wBvC1oN4N5XxtfwWrn/dU5kLIj1IO6F92N4W9J5hA/V0XAIl4Gd59CHC3\
    Dsq3k52cgZEufCh4hw8jyaBr5fuQvOG1reBI8EGBa08u3jC3k5XISsiE1Nb4W9ki5HGNwKRx3N3wnfN8DZXbAcwfI5dN7Q8il0McDIV8V3FNciByEGw\
    mSE5RNpsqPl82g0hJM74aYbOt+x8hFcbOgowH1BY1/DO6arjEGIpXBQ0uZeuNrR6RAmtqwHHjC7Y5EjmG/oSoCt7yK8iNgIlyNc6eh8CFe3rCowOYLj\
    hq4HOPHNeP8PHo54QJiKsNvR/BAmgZfZsdwR3DW0fKPfPKV0AmwK2vXlbWNlTnhX0jDCzvNK+ca/ftbhDuEZW1Yr71gzRjDb0ESAgW8d10d2hNMI1zp\
    6mSEcb1ltkR2LHsEDDR0EOPRldbGxFa5EOO3o+hAe3bJGgeeP4LChYYAj31m60DgRRhFmO3p0CC8BXFqiiyP4ixkNDQra9wV6fzcnJYbCOsJDHf3F4B\
    AeWaOLwMyOxYxg+ZTDaeg4wK5vbusrh8JRhL2OBs86ikN45hrd4BItgKMlOtmx4F2wM4LDhvYCnPn+nTiUMBdhv6O7IczcCestK12jnbeE7zvAzF2SX\
    qL1jlUawW5D6xUr8y3zhsSusL9m2Y6mh7DestAafVDgtzxgvUTrHetzD1iOYGeHNg0dAI/wamI2wl1HO3s0GsL6aaXespI12jyNzm6E2xK3wcESzdwF\
    oxHsNDTvW+FVxLUITx3tD2HmThiv0bNvhFt0l8QAPx0BHh7BAHgZ31CYBCaGcBn46TjwgznA8DaYeVBZBJ5GsGxoGOBZvo6wirDuaD2ElwF+v3YjPA7\
    MP+fQt8H0XZIFjkYwG2DA97M6oTAXYTyER4E/Lt0I0086aGD6OcfIg0q0RJcbOvL9GRxOmO7oZI0uPqxknnT8UwHXl+gIOG5ozjcUzjvaBS6s0f/CwN\
    +zwFSAf/6ZFM4jXFujj8A08E88MO0bCafAPx2B/1mAf/6ZFz4CH4GPwEfgI/AR+Ah8XLL+tYCPt0nXC/j4oONlAz4+qvxnf1R5fLPhGr7ZcHy78Jq/X\
    Xh8w/+6vOF//Jada/4tO8dvuiv6vpzfdHf8tlnle32/bfb4je95gF+ab3w//ugK4fsy/+jK8YfPMO81/eGz44+Phr4v/4+PHn8AvOe9Pj8AfvwIh8z3\
    Jf8Ih+OHsADe6/IhLMePUcK81+ZjlI4fhBbwXr8PQjt+lGHPe30+yvD4YaTX/MNIjx8nbHmvzccJHz8QPOC9Dh8IfvxIf6t7/T7S//hLOa7xL+U4/lo\
    d8cK/Qd6X+dfqHH8xltW93r8Y6/ir7TTvy/ur7Y6/nFLbXrNfTnn89bLqJX+1vC//r5c9/oJohXudfkH08Ve8G9zr9SveF+hoLsLmXtgtaSyMQyyNBT\
    LLLF/zk9VF8aV8+4I298BcgGc29Ar4svAwy33WUY+wKuntJv2tLulIGBJrZIyN/4y6UM+b+IpHHN0GDd/opwPsPeVgH2NdTsBX5Y7+JepoOsJcSWPhn\
    NhV9o+9gscb+sYFXQpw+Bw6beirDvhyTkfTEUZ7VlrSjnBPvDMGyBwzet2PQlfw8r5eQfcbFh3gkYa+jIALz6OzCPMl7QvDEGtiaFw/PyJeEN/clylo\
    JsDUc+gEeKyjixEOSlqMYUJ4S2yM5yl3lxG6KL6Orx3AQUFXAjzU0BtgqqPV8+iBCAclLe6GE2GHuDceURYv/4vPm/t+Y3yDgi4G2DyHThr6sl3ACD9\
    cIMLqTSWnpNGipYR9Ym0skUln/Zq/OLoOL/L92viCgjZvI80L8EMY4IsN8MiaFUS4fyIdl/R2DOtFKxLGxJOxVeZPd5EfXF7Kd7tgdQM4Kej+KXQaYH\
    rFWgEfNMJxScMxrIRlTU8hnoj3xj1y0Vm+8geju+Hdx1fUs+OLB3Bc0MsHeAd8Ga9Z9i2lNMJ5ScMx7AmDEHfEk7FCjqnRn/0B6Ha8Nr6prxrAcUGzA\
    Y7fSJoCvAJ2I/xoMMJqz7Il7Y5hK2xruifujTtkzJyd/vV/NroTr6nn1FcNYFzQasOqBPiRH+A98GX1TslGePtEOi1pO4YzYUhsY6yQSWnzEnnFThfw\
    sr54AOOC7p5CRwF+nQrwGlhEOLlTciOM96yupN0xHAnbmrbEyhgo00df6XvIa+qZ9bUDeFvQ8YblBxivWH2AJ+AZEe7eVHJL2h3DhHBAvDM2yDVo9Or\
    vha7HW/S1A9gt6O3bSDMDvAFeKsLvwD0rGsO+sFPTHbE2hsiOd/JHv0e6PS+qZ87XHcD2bcIlAtwBD0bY3bPsJj0oHBAb41Q5Pd2lhK7HO+wbbdB2wx\
    oN8BZYCNMRfgtFOCpps2j5wrCmBbGMsUAecpav31+20+15UT0Hvp87vlFBu28j5QGefBHwcISnPespKmm0aBHCKMSCuENWyrk1+vN/UriK18aX8v0s9\
    p02aLhhDQd4Bzwc4WjP8hetVBjWtCBWxh2y45wfcYnvsO6eF9Uz5fuJ41vesKgA74EvihF+04lwKPwxWKWRsB7EsKd3xB4yLW1fpXAVr43vNH4D32mB\
    /pjx1QF+sxjgnWs7nx9h53HHNIbDRSsQljU9EVvjCRk6s6e/yh+x7p4X1XPs69wBTwP4qe87GuDzPTARYfGmkt6zkk26Ioxq2iV2kGvQ+pUW1+dV9cz\
    7phu03rD8t5H8AD8HDoWzJ9LVki4LI2JrPCFb5trpLvQHqAt4l/YtbFjoKbTwXQHrks4i/IKEvzLChlgY98h1aPXiP1hdw9v7fvWiff0Ai4LeAJ/HEQ\
    72LFDSegwPCuMQd8TQ2Cj73u4fVBfsdT3efXzn+OoBjAs6fx9Y+grgC71nFSOsx/CoMAwxIN4Za+QQmoXtcLe6hhfFd44vGMC1ANuC3gLPjbBX0uJ5B\
    yusaxoTa2OEnGpHr/kvpIt4dT3TvuAJR1DQgwHeAp87EU5ulWpjmBLWNQ2JpfGEHDOzp7vc75GuwzvVc9GXGsCVW6Te97ydIeHRPWtIuHvnwanptTAi\
    3hv3yMPO8hq/l7qW18R3qufu/YUx3zkblvA9a2dCmC3p5YTjmg6Id8YTsmamrMFLugv+Tul6vFE9L+dbKeit7wr47FAlTQhHNe0ST8YIGTtTR17F4G5\
    0Hd6wnnPfwxT02Qb4bEZJM4tWTRiGeCJWMZ6MDTNLbV/VXfLbb0F497wovnXfOQM4LOizHfBZXtLyeRYaw8sIy5rWxDjGUhk5s0dcRvwFKryKV9fzEr\
    5oANPPsPa+W+CzsZLmxjAtrGs6I5bGSrlAbV+nLvwNx9vX8wxfNIBHCnoj2+6dLV3Sg8JOTW+FNfHOWCNDZ/7Yq33T6xpeFd++nhfznVPQZ/faPSgcb\
    9ILCqNlGoe4I94aB8hFaecCEnej6/GCet6tz4fxRQVtfVfA94IxbEsajOFx4aCmXWJs7DMPne6yVtfhDep5Ed/dAE4LuvddA99zxnBa0nLRKgsHNd2H\
    uCfuY7wzFsqzmb+xtjtdEd49L4qvreeyL74Dpgt657sBRsJjJU0IP3OF3RBb4p3xhCyUy9TmxV9rXBlew6vj6/g+o3znF/TeVwPT90oLCKtBrGvaEit\
    jgAyYy6e/msQVuoAX1PM0fhf0Ze+QNsCnmbAt6VnC/qrV1XRKrI2l8gC1efl0ZaWb8WLfrp5n+aZvEirf03YaCsclXRdOVy0cYkS8M+6VgXP59Ffb/x\
    VfOrwwvul6VfdNCtr3XQGfzhrDpPATV5gLcUfcGU/IQnlEWr/+K4C70Y14QXwd3ye074wBfLoBhsKVMUwL22Ua1HRIbI07ZMvskUd/rr/el1g34PXGr\
    12fGd+RASx8N8CZsBrDywmDmrYhXhObGAtjqZxJ567adqerwrvlNfEF9bywbzCApe8WeBKOx7C7aKXCzjLt1HRCvDNWyJY5Avf/rL7qb38Lwwt4o3q2\
    63PVN70D3g/gyXcH7An7Yxg90SoIg5oWIfaJt8YuciLNuwLcjW7MK+MbrM+xr/sEyx/AyPe03b3LlDS5So8Iy5qWITbE2NhRTrnjV01Xt7qa18QX1PM\
    cX/qbOFRB3737HJgSfuAvWpQwvl1yaxoS9zHeGXfIGTN/+mv+RuiK8ALeuJ7V7VHZN38EbXzXwLzwK7OFvUFsQhwQ74z3yEJ5BrS6zG8UrgxvwKvrGa\
    9Xo778gnV3B5wK3z+MsK7piFgZW2TDTGnj13QXlbhCN+CN6nkp3/uM7xb4bmXRwqt0IgwGMRdiQKyNhbILzRx5nen6SlfxUvEF4zfxJRbocMG62wO7w\
    pf5Kj1LWG/TJPHOuEPWzCw2elV/1S+0bsqLtudFfP0Fy/XdAwPhcNEqCsc1XSDujPfIQhk7s0de6QuLu9GlebN6HvP1B7DxnYAPIPxWLvxuJGyIrfGE\
    rJkL1uCF3WU/x7qa1/V9N/d963C+d9sdK8wtWrwwXdMesYmxMO6RsXPhyGt9bnVNeB1esp5rvsyCJX3vtDvDwo/mC5sQE8Q7Y4msmUvW4KXq4p995oQ\
    34BXxnedbWKCV7wqYEr7ihd9IhFFN4xBbYmWskbFz6dgrfgZ0DW8e366eXd83eN8rzncN7AjHq3RBOBzEZtfyiYVxhFyn9q6hcKVuxCu2q2S9GvUFC7\
    Tx3QBL4XjRCoX1e0tomfZqukC8M56QfebR0136U6Fb4fXrWa7P+v2jgq9dsITvFrgi/GBQGA3iKMQOsTbukZdhFhf81NEFvEl80fgt+xILtPS9024fX\
    jgdxEGIO2JjPCFL5TFpc4lPNa7SnXiz+Cbj95C+t9ttJTxwO1wT7gYx3LW2wopYxXhv3CED5gg8+MP9NX9tdLvwal7r28VXjN+K79AN8NZ3BbwVvqOF\
    k5slSthbtWBNM8Sd8YQslBNp0lXYdrh9eHNeWM9ovaJ9yRukOzvfNTAvfMUKP3aETU2TxH1T98YdsmUmtJ2X9Ff9xOh23UzzwvGLbn9zX+IGafLdAKu\
    aZm+WaGGzar2dCjvEyFgq+9DEUReSf8vHJryaN/Z9212vyr7JDdLEuwdOhC/GhM0gNjWdh3jaqJWxQtbKvDV84ScQ1+jueNn4qno2t78V3wvG93a79c\
    KFmZqOiT1j15k/4IpKN+It1vML8L3VbrnCzAMPThgO4jIxNobKZWrvGtPfYnXLvO74ne17z/VdAQvh6iMtKPwaEob3S46wGcWCeGfcIbvK4+djg7vVB\
    bz7dmZ839LjVzyenOt7V/qugXfEywq/7gkPEmPjHnkpZnHJj0LdOi/2ff0QvmvaDXAknH2zdCj8eEhY9rQm3hlPyFJ5GFpf5SONu9UFvF07V30fz/E9\
    y3x3wED4lBV+JRNmBzEKsSLWxh2yUaawnRd9ZHGNruJV8R0av9qX+hZ3s2D1vrfaTU74fBnhWog7YhPjybhH9p3JI6/1odZV4TW8I/U85nvO+d5sNwv\
    CFwcXpoj3xh2yUi5Sgxd/aHF1eH3ew/peFHxXwLFwsGiZt5ZmCIsQe8TIuEeGzOUjLviBq4t5RXyX8LW/bjK+QVK+a+Bh4ftQeMEQd8Qmxi7yKLS5CM\
    IV4RW8S8XX+lZugLXvBnhHvIDwEiGOiYVxhwyYc2znJf1V37e6FO+M+C7ju5HdAvfCQ6v0WnhGTe9DbHq6J4bGAtl3po661Pu+ruXdt3MX3+F65m+QL\
    HDvuwemhM8XFw5DLIlljJWxRq5Cg5e/D3X78FpeL77L+p4XfG+2k3+MMBdiSOwZY+aBY6/7DIRX8lLx/Qf4nrSTk5Nc+B5zs8QLRzXthFgS740B8gxn\
    eLFnSlfx+vF16nmOLzGAhe9z3BXwixSOa1qGGBJbY4xckPZf/8zR9XhRfEE9v0DfDbAQ9ldpsGjVhMEgjkMcE3fGAfLoeWZ1A94wvmD81nyTJ9B6ge5\
    8t8COMLFK88LZIA5CPBEb4x55MeVnCNfodsMXxjcbv/N9e2DHdwd8MmvR4u6Ho0EMQxwSd8YCeR6zvNJ7RjfhTeo58wX3v+ML1okEzoXvzRLOVq1eeA\
    pxTNwbK+QqtH31e0A34O3jS/m+Nss3H8AnGrgoDBatcWFY012IDfFknCCPHYjb6fa8OL5o/BZ95y1YJxb4ZGQMjwqjQWxCHBI7xjOZ1aWgbsxr4+uvz\
    yO+3AA+QcBGmH1mqRatecI2xC5xZ6yRy8729e9iXcuL4zvDt7xg3fF9AfDN+hg+nHAf4i2xa4yUXfDwj4qLAt0tbxffF+HLFPRNC3zjBoxwfQwj4UeO\
    MDWIbYghsTROlNOjLvY047X1HI5f5PvI8V1gAJ/cuPEc+IZf0qUxvIiwHcQEsUEeYTaX0H+Hy4vH7yF8qwP4hgYeGsPeojVDGIVYERtji8xQOy966uh\
    KXie+Y76jC1Y0gLfAwyWNxvCo8C8CYRniPbE19pBL56mru+N14wvH77jvvDvgte8GOBBmvhneXbTEQ8tB4SrxHGZ8NYp3wBc9oEQLFvFN7r7vFvjGQi\
    UdrtKU8LRqwRBbYse4yOxe5InDi+Ir1yvad9YAvhMO4AlYCxdLGo1hV/j1XDgI8Z6YMY6t05dZXcyLxi/0fZ3w9X5XO1fQ2tcDziJcGsNLCQfEuXH5P\
    Ml4F/QtDeBSgG/8PyUfNQadT+ZGAAAAAElFTkSuQmCC');
}

.bold {
    font-family: "roboto_condensedbold", sans-serif;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
}

#debug {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    padding: 0;
    border: none;
    color: white;
    z-index: 200;
    overflow: auto;
}

#grid {
    position: fixed;
    background: url('../assets/grid-8-16.png');
    /*background: url('../assets/overlay_full_list.png');*/
    /*background: url('../assets/overlay_root_collapsed.png');*/
    width: 100%;
    height: 100%;
    z-index: 100;
    /*opacity: .3;*/
    opacity: 1;
}

::-webkit-scrollbar {
    display: none;
}

#loading {
    position: fixed;
    z-index: 1000;
    background: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
