#menu {
    visibility: hidden;
    position: absolute;
    top: 72px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 0;
    z-index: 20;
}

#menu > .root {
    width: 72px;
    height: 100%;
    overflow: hidden;
    float: left;
    background: rgba(96, 125, 139, .87);
}

#menu.expanded > .root {
    width: 288px;
}

#menu.expanded > .list, #menu.expanded > .footer {
    left: 288px;
}

#menu > .root > .category, #menu > .root > .item {
    font-family: "roboto_condensedlight", sans-serif;
    width: 288px;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    vertical-align: middle;
    clear: both;
    position: relative;
    opacity: .7;
}

#menu > .root > .item {
    font-family: "roboto_condensedregular", sans-serif;
    width: 288px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    vertical-align: middle;
    clear: both;
    position: relative;
    opacity: .7;
}

#menu > .root > .item.hidden {
    display: none;
}

#menu > .root > .item:before {
    content: '';
    display: block;
    width: 72px;
    height: inherit;
    float: left;
    background: no-repeat center;
}

#menu.expanded > .root > .item.current:before {
    background-image: url('../assets/icons/ic_done_white_24px.png');
}

#menu > .root > .category:before {
    height: inherit;
}

#menu > .root > .category.expandable:after {
    content: '';
    display: block;
    width: 48px;
    height: inherit;
    float: right;
    /*background: url('../assets/icons/chevron-down.svg') no-repeat center;*/
    background: url('../assets/icons/chevron-down.png') no-repeat center;
    position: absolute;
    top: 0;
    right: 0;
}

#menu > .root > .category.expandable.expanded:after {
    background-image: url('../assets/icons/chevron-up.png');
}

#menu > .root > .category .content {
    display: none;
}

#menu > .root > .category.expanded > .content {
    display: block;
}

#menu > .list {
    position: fixed;
    width: 912px;
    float: left;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #455A64;
    z-index: 20;
    top: 72px;
    /*top: 136px;*/
    bottom: 64px;
    left: 72px;
    overflow-y: hidden;
}

#menu > .list > .channel {
    width: 100%;
    height: 104px;
    overflow: hidden;
}

#menu > .list > .channel > * {
    opacity: .7;
}

#menu > .list > .current > *, #menu:not(.expanded) > .list > .selected > * {
    opacity: 1;
}

/*
#menu > .list > .channel.selected {
    background-color: #3d4f58;
}

#menu > .list > .channel.current {
    background-color: #00ACC1;
}
*/




#menu:not(.expanded) > .list > .selected:not(.current) {
    background-color: rgb(89, 108, 116);
}

#menu.expanded > .root > .selected {
    opacity: 1;
    background-color: rgba(255, 255, 255, .15);
}

#menu > .list > .current, #menu.expanded > .root > .current {
    opacity: 1;
    background-color: rgb(0, 172, 193);
}

/*
#menu > .list > .channel.current.selected {
    background-color: #00BCD4;
}
*/

#menu > .list > .channel > .main {
    position: relative;
    width: 160px;
    height: 92px;
    margin: 6px 16px;
    float: left;
}

#menu > .list > .channel .logo {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 112px;
    height: 56px;
}

#menu > .list > .channel.selected, #menu > .list > .current {
    opacity: 1;
}

#menu > .list > .channel .star {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 24px;
    width: 24px;
    /*background: url('../assets/icons/ic_star_yellow_24px.svg') no-repeat center;*/
    background: url('../assets/icons/ic_star_yellow_24px.png') no-repeat center;
}

#menu > .list > .channel.favourite .star {
    display: block;
}

#menu > .list > .channel .number {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 18px;
    width: 18px;
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    opacity: .7;
}

#menu > .list > .channel.current .number {
    color: rgba(255, 255, 255, 0);
    background: url('../assets/icons/channel_active.gif') no-repeat center;
}

#menu > .list > .channel > .program {
    position: relative;
    float: left;
    width: 544px;
    height: 96px;
    margin: 4px 8px 4px 0;
    overflow: hidden;
}

#menu > .list > .channel > .program > .title {
    color: white;
    max-width: 464px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
    text-align: left;
}

#menu > .list > .channel > .program > .tags {
    font-family: "robotoregular", sans-serif;
    color: white;
    font-size: 16px;
    line-height: 28px;
    display: block;
    height: 28px;
    overflow: hidden;
    opacity: .5;
}

#menu > .list > .channel > .program > .tags:first-letter {
    text-transform: uppercase;
}

#menu > .list > .channel > .program > .description {
    font-family: "robotoregular", sans-serif;
    color: white;
    font-size: 16px;
    line-height: 18px;
    display: block;
    height: 36px;
    overflow: hidden;
    opacity: .7;
}

#menu > .list > .channel > .program > .time {
    display: none;
    position: absolute;
    top: 6px;
    right: 8px;
    width: 64px;
}

#menu > .list > .channel.progress > .program > .time {
    display: block;
}

#menu > .list > .channel > .program > .time > .end {
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    font-family: "robotoregular", sans-serif;
    text-align: center;
    margin-bottom: 4px;
}

#menu > .list > .channel > .program > .time > .end:before {
    content: 'до '
}

#menu > .list > .channel > .program > .time > .line {
    position: absolute;
    width: inherit;
    height: 2px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .4);
}

#menu > .list > .channel.selected > .program > .time > .line, #menu > .list > .channel.current > .program > .time > .line {
    height: 3px;
}

#menu > .list > .channel > .program > .time > .line > .value {
    height: inherit;
    background-color: rgba(255, 255, 255, 1);
}

#menu > .list > .channel .preview {
    display: block;
    width: 160px;
    height: 90px;
    margin: 8px 8px 0 0;
    float: right;
}

#menu > .list > .channel > .preview {
    opacity: 1;
}

#menu > .footer {
    position: absolute;
    bottom: 0;
    left: 72px;
    height: 20px;
    width: 864px;
    background-color: #607d8b;
    color: white;
    vertical-align: middle;
    line-height: 18px;
    font-family: "roboto_condensedregular", sans-serif;
    font-size: 20px;
    padding: 22px 24px;
    z-index: 20;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#menu > .footer > .hint {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    margin-right: 40px;
}

#menu > .footer > .hint:before {
    content: '';
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 16px;
}

#menu > .footer > .clock {
    position: fixed;
    bottom: 24px;
    font-size: 24px;
    right: 16px;
    color: white;
}
