#social {
    display: none;
    position: fixed;
    width: 1000px;
    top: 72px;
    right: 0;
    bottom: 0;
    padding: 0 0;
    z-index: 20;
}

#social > .auth {
    height: 100%;
    width: inherit;
    overflow: hidden;
    float: right;
    background: rgba(38, 50, 56, .87);
    text-align: center;
    font-size: 40px;
    position: relative;
}

#social > .auth > .main {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: inherit;
    height: 100px;
    overflow: hidden;
    vertical-align: middle;
    line-height: 40px;
    font-family: "roboto_regular", sans-serif;
    /*letter-spacing: .5em;*/
}

#social > .auth > .main > .welcome {
    font-family: "roboto_condensedlight", sans-serif;
    font-size: 24px;
}

#social > .auth > .main > .hint > a {
    color: #fff;
    font-size: 16px;
}

/*
#social > .reset {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    width: 104px;
    height: 8px;
    text-align: center;
    vertical-align: middle;
    line-height: 8px;
    padding: 22px 16px;
    background-color: #607d8b;
    margin: auto;
    cursor: pointer;
}
*/

#social > .reset {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    width: 240px;
    height: 64px;
    line-height: 64px;
    border-radius: 2px;
    font-size: 24px;
    background-color: #607d8b;
    text-align: center;
    margin: auto;
    cursor: pointer;
}