
body > *{
	margin: 0;
	padding: 0;
}


.left {
	position:absolute;
	top:0;
	left:0;
	height: 100%;
	width: 117px;
	/* or display :none , when */
	display: block;
	visibility: visible;
	z-index: 2;
	overflow-y:scroll;
	overflow-x: hidden;  
	background:white; 
}

.epgDay{
	position: absolute;
	visibility: hidden;
	display:block;
	top:20px;
	right: 170px;
	width:640px;
	/*height: 740px;*/
	max-height: 740px;
	background: black;
	overflow-y:scroll;
	overflow-x:hidden; 
	opacity: 0.7;
	/*transition:focus 2s;*/
}

.epgTitle{
	position: static;
	width:100%;
	height: 85px;
	/*font-*/
}

.epgChanImg {
	position:static;
	float: left;
	width:110px; 
	height:100%;
	background: black;
}

.epgChanName {
	position:static;
	width:100%; 
	height:100%; 
	font-size:2em; 
	text-align:center;
	vertical-align: middle;
	color: white;
}

.epgDayEvent {
	position: static;
	width:100%; 
	height:30px; 
	border:1px solid blue; 
	background:black;
	color:white;
}
.epgDayEvent span{
	position:static;
	display:block;
	margin-left:65px;

}
.epgEventTime {
	height: 100%;
	width: 57px;
	float:left;
	text-align:center;
	vertical-align: middle;
	background: rgba(0, 168, 243, 0.5)
}

/*.centerContent{
	position: absolute;
	top:85px;
	width:100%;
	height: 655px;
	background: white;
	overflow-y: scroll; 
}*/
.epgEvents{

}
.epgDay:focus{
	background: lightblue;
}

.chan {
	width: 115px;
	height: 95px;
	opacity: 0.5;
	border: 1px solid white; 
	border-radius: 2px;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	background: black;
    background-repeat: no-repeat;
}

.chan:hover{
	opacity: 1;
	box-shadow: 3px 3px 5px #888888;
}

.chan:focus{
	opacity:1;
	box-shadow: 10px 10px 5px #888888;
	/*border: 4px solid ;*/
}

.footer {
	position: absolute;
	visibility: hidden;
	bottom:20px;
	left: 160px;
	min-width:85%;
	z-index: 5;
	height: 120px;
	background: white;
	font-size:1em;

	
	/*font-size: 2em; */
}
.footer  span{
	padding-left:20px;
	font-size:1.7em;
	color:black;
}
.epgNow,  .epgNext{
	margin:10px;
	width:47%;
	height: 78%;

}
.infoicon{
	position: static;
	float:right;
	/*right:34px;
	top:0px;*/
	height: 31px;

}
.epgNow {
	float:left;
	background: white;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.epgNext {
	float:right;
	background: white;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress {
  position: absolute;
  top: 100px;
  height: 6px;
  display: block;
  width: 100%;
  background-color: #0d47a1;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden; 
  -webkit-transition: width 0.3s linear;
}
/* При наведении*/


#iPlayer{
	position: relative;
	width:100%;
	height: 100%;
	z-index: 0;
}
.logs{
	position:fixed;
	bottom:100px;
	right:100px;
	width:550px;
	height: 400px;
	background: white;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0; }