.header {
	height: 80px;
	}
	.logo {
		left: 158px;
		width: 231px;
		height: 100%;
		background-size: 100% 50%;
	}

.left {
	top:80px;
	left:14px;
	height: calc(100% - 80px);
	width: 204px;
	overflow-y:scroll;
	overflow-x: hidden;
	}
	.withGenres{
		left:326px;
	}
	.chan {
		width: 100%;
		height: 100px;
		margin-bottom:10px;
	    background-size: 60%;
	}

.genres {
	position: absolute;
	top:80px;
	height: calc(100% - 80px);
	left:-312px;
	width: 326px;
	transition: all 150ms ease-in-out;
	}	
	.showGenres{
		left:0px;
	}
	.genresHead{
		height: 100px;
	}
	.genresHead span{
		font-size: 30px;
		line-height: 100px;
		padding-left: 41px;
	}
	.sort{
		height: 120px;
		font-size: 20px;
	}
		.sorttype{
			width: 100%;
			height: 60px;
			line-height: 60px;
		}
		.sorttype   span{
			margin-left: 41px;
		}
	
		.sorttype [type=checkbox] + label{
			right: 41px;
			top: 20px;
			width: 65px;
			height: 16px;
			transition:all 150ms ;
		}
		.sorttype [type=checkbox] + label:before{
			content:" ";
			margin: -5px 0px 0px 0px;
			width: 25px;
			height: 25px;
			transition:all 150ms;
		}
		.sorttype [type=checkbox]:checked + label:before{
			margin-left: 40px;
		}


	.genreslist{
		height: calc(100% - 100px - 120px);
		overflow-y: scroll;
		overflow-x: hidden; 
	}
	.genre{
		width:100%;
		height: 60px;
	}
	.genre span{
		font-size: 20px;
		padding-left:41px;
		line-height: 60px;
	}
	.genre:focus{
		background-color: white;
		color:black;
		opacity: 0.87;

	}
	
.footer {
	left: 218px;
	width:calc(100% - 204px);
	height: 90px;
	overflow-x: auto;
}
	.footer.footerWithGenres{
		left: 544px;
		width: calc(100% - 544px);
	}
	.epgNext{
		width:598px;
		height: 90px;
		margin-left: 14px;
		border-radius: 2px;
		transition: all 300ms linear;
	}
	.epgNext span{
		line-height: 1.5;
		font-size: 20px;
		margin-left: 82px;
		margin-right: 95px;
		margin-top: 18px;
		margin-bottom: 24px;
	}
	.epgTime{
		top:53px;
		left: 507px;
		font-size: 20px;
	}

	.epgTimeLine {
		margin-top:0px;
		margin-bottom: -3px;
		height: 3px;
		width:598px;
		border-radius: 2px;
		overflow: hidden; 
		-webkit-transition: width 0.3s linear;
		}
		.epgTimeLineActive {
      		top:0px;
      		height: 100%;
			width:0%;
		}
	

.epgProgramInfo {
	top:100px;
	left: 300px;
	height: 500px;
	width: 700px;
	border-radius:2px; 
	overflow-y: scroll;
	overflow-x: hidden;}
	.epgProgramContent{
		width: 100%;
		height:100%;
		font-size: 20px;
	}
	.epgProgramContent span{
		margin:8px;
	}
	
#iPlayer{
	min-width:100%;
	min-height: 100%;
	width:auto;
	height: auto;
	z-index: 0;
}

