#appBar {
    position: fixed;
    z-index: 5;
    color: white;
    height: 40px;
    left: 0;
    right: 0;
    padding: 16px 16px;
    background: rgba(96, 125, 139, .95);
    box-shadow: 50px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    font-size: 24px;
    clear: both;
}

#appBar > * {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    float: left;
    line-height: 40px;
}

#logo {
    width: 40px;
    height: 40px;
}

.currentChanLogo {
    width: 64px;
    height: 48px;
}

#lanetTvTitle {
    margin-left: 26px;
}

#currentChannelInfo {
    margin-left: 90px;
    line-height: normal;
}

#currentChannelInfo > * {
    display: inline;
    vertical-align: top;
    height: 48px;
    float: left;
    font-size: 16px;
}

.epgColumn {
    margin-left: 22px;
    margin-right: 78px;
    max-height: 64px;
}

.epgNow, .epgNext, .currentChanTitle, .epgNextTitle {
    max-width: 300px;
}

#clockContainer {
    float: right;
}

.bold {
    font-weight: bold;
}