#appBar {
    position: fixed;
    z-index: 10;
    color: white;
    height: 40px;
    left: 0;
    right: 0;
    padding: 16px 32px 16px 24px;
    background: rgba(96, 125, 139, .95);
    overflow: hidden;
    font-size: 24px;
    clear: both;
}

#appBar > * {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    float: left;
    line-height: 40px;
}

#logo {
    width: 40px;
    height: 40px;
}

.currentChanLogo {
    width: 64px;
    height: 48px;
}

#lanetTvTitle {
    margin-left: 26px;
    width: 96px;
}

#currentChannelInfo {
    margin-left: 136px;
    line-height: normal;
}

#currentChannelInfo > * {
    display: inline;
    vertical-align: top;
    height: 48px;
    float: left;
    font-size: 16px;
}

.epgColumn {
    margin-left: 22px;
    margin-right: 78px;
    max-height: 64px;
}

.epgNow, .epgNext, .currentChanTitle, .epgNextTitle {
    max-width: 300px;
}

.currentChanTitle, .epgNextTitle {
    font-size: 16px;
    line-height: 16px;
}

.epgNow, .epgNext {
    font-weight: bold;
    font-size: 20px;
    vertical-align: bottom;
}

#clockContainer {
    float: right;
    font-weight: bold;
}