@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../assets/fonts/roboto-regular.woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-stretch: condensed;
    src: url('../assets/fonts/roboto-condensed-regular.woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-stretch: condensed;
    src: url('../assets/fonts/roboto-condensed-light.woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-stretch: condensed;
    src: url('../assets/fonts/roboto-condensed-bold.woff')
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-stretch: condensed;
}

video {
    background: #000;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
}

#player {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#debug {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    padding: 0;
    border: none;
    color: white;
    z-index: 500;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}