#browseView {
    display: none;
    position: absolute;
    height: 647px;
    width: 100%;
    top: 72px;
    background: rgba(0, 0, 0, 0.75);
}

#menu {
    width: 70px;
    height: 590px;
    overflow: hidden;
    float: left;
    opacity: 0.95;
    background-color: rgb(84, 110, 122);
    /*transition-property: all;*/
    /*transition-duration: 300ms;*/
    /*transition-timing-function: ease;*/
}

#menu.open {
    width: 288px;
}

.menublock {
    margin-bottom: 20px;
}

.menuSubs {
    float: left;
    width: 260px;
}

.menuTitle {
    display: none;
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 16px;

}

.menuIcon {
    display: block;
    float: left;
    background: no-repeat center;
    height: 50px;
    width: 80px;
    color: white;
}

.menuentity {
    float: left;
    height: 56px;
    width: 100%;
    background: no-repeat center;
}

/*#catalog{
	position: relative;
	left:-265px;
	float:left;
	width:265px;
	height:592px;
	background-color: rgb(84,110,122);
	visibility: hidden;
	transition-property : left;
	transition-duration:300ms;
	transition-timing-function:ease-out;
}*/
.catalogTitles {
    color: white;
    display: block;
    height: 50px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, .56);
    line-height: 50px;
    padding-left: 28px;
}

.catalogEntity {
    display: block;
    height: 56px;
    padding-left: 70px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, .56);
    line-height: 56px;
}

.catalogEntity.spotlight {
    background-color: rgba(0, 172, 193, 1);
}

.catalogTitles.highlight {
    color: rgba(255, 255, 255, 1);
}

.menuentity {
    display: block;

    height: 50px;
    color: white;
    /*box-shadow: 2px 2px 0px 0px #5D4037;*/
}

/*	span.menusub{
		line-height: 50px;
		padding-left: 50px;
		margin-left:55px;
	}*/
.catalogEntity:first-letter {
    text-transform: uppercase
}

#catalog.open {
    /*display: block;*/
    left: 0;
    visibility: visible;
}

#chans {
    position: relative;
    /*left:-265px;*/
    width: 816px;
    height: 590px;
    overflow: hidden;
    float: left;
    background-color: rgba(38, 50, 56, .7);
    opacity: .9;
    box-shadow: 0 3px 6px 0 rgba(32, 32, 32, 0.16);
    /*transition: all 300ms ease-out 0s;*/
}

#chans.withCatalog {
    left: 0;
    opacity: .87;
}

#chans.active {
    background-color: rgba(38, 50, 56, 1);
}

.chan {
    width: 100%;
    height: 102px;
    /*	margin-bottom: 8px;
        margin-top: 8px;*/
    padding-top: 8px;
    padding-bottom: 8px;
    /*opacity: 0.54;*/
    color: black;
    background-size: 80%;
    background: no-repeat center;
}

.logoChan {
    position: relative;
    width: 144px;
    margin: 0 24px 0 24px;
    height: 96px;
    /*position:;*/
    float: left;
    background: no-repeat center;
    background-size: 100% 100%;
}

.previewChan {
    position: relative;
    width: 144px;
    margin: 0 24px 0 24px;
    height: 96px;
    /*position:;*/
    float: right;
    background: no-repeat center;
    background-size: 100% 100%;
}

.chanPic {
    height: 100%;
    width: 100%;
    background: no-repeat center;
    /*background-size: 100% 100%;*/
}

.chanPreview {
    height: 100%;
    width: 100%;
    background: no-repeat center;
    background-size: cover;
    /*background-size: 100% 100%;*/
}

.favStar {
    /*display: none;*/
    position: absolute;
    right: 8px;
    top: 8px;
    height: 24px;
    width: 24px;
    background-image: url('../assets/icons/star.png');
}

.programContent {
    position: relative;
    /*height: 112px;*/
    float: left;
    width: 355px;
}

.timeStart {
    position: absolute;
    right: -56px;
    top: 0;
    font-size: 20px;
    line-height: 1.55;
    color: rgba(255, 255, 255, .56);
    /*font-size: 14px;*/
}

.titleProg {
    color: rgba(255, 255, 255, .77);
    font-size: 20px;
    /*line-height: 29px;*/
    margin-bottom: 8px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.409;
    text-align: left;
}

.textProg {
    height: 50px;
    color: rgba(255, 255, 255, .32);
    overflow: hidden;
    margin-top: 8px;
    font-size: 20px;
    text-align: left;
}

.chan:hover {
    opacity: 0.87;
}

.chan:focus {
    opacity: 0.87;
}

.cat, .subcat {
    /*width:100%;*/
    display: block;
    font-size: 16px;
    padding-left: 24px;
    line-height: 48px;
    color: white;
    margin-bottom: 30px;
}

/*Основной центр внимания*/
.spotlight {
    /*border: 3px solid yellow ;*/
    /*	transform:scale(1.1,1.1);
        transition:all 300ms;*/
    color: white;
    /*background-color: rgb(0,172,193);*/
    background-color: rgb(96, 125, 139);
}

.spotlight .timeStart {
    color: rgba(255, 255, 255, .7);
}

.spotlight .titleProg {
    color: rgba(255, 255, 255, 1);
}

.spotlight .textProg {
    color: rgba(255, 255, 255, .7);
}

.menuentity.spotlight {
    background-color: rgba(0, 172, 193, 1);
}

/*Подсветка выбраного индекса*/
.chan.highlight {
    /*box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.12);*/
    /*background-color: rgb(80, 79, 79);*/
    /*box-shadow: 0px 3px 6px 0px rgba(32, 32, 32, 0.23);*/
}

.chan.spotlight {
    background-color: rgba(0, 172, 193, 1);
}

#fullEpg {
    width: 128px;
    background-color: rgb(84, 110, 122);
    height: 590px;
    overflow: hidden;
    float: left;
}

.smallEpgSS {
    width: 100%;
    height: 72px;
    /*padding-top: 23px;*/
    /*padding-bottom: 23px;*/
    margin-bottom: 46px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 59px;
    background: rgba(0, 0, 0, 0.56);
    color: white;
}

.button {
    width: 30px;
    height: 18px;
    border-radius: 2px;
    float: left;
}

.yellow {
    background-color: rgb(255, 234, 0);
}

.red {
    background-color: rgb(255, 61, 0);
}

.green {
    background-color: rgb(100, 221, 23);
}

.blue {
    background-color: rgb(41, 98, 255);
}