#browseView {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.56);
    padding: 72px 0;
}

#menu {
    width: 72px;
    height: inherit;
    overflow: hidden;
    float: left;
    background: rgba(96, 125, 139, .95);
}

#menu.open {
    width: 288px;
}

.menuBlock {
    margin-bottom: 20px;
}

.menuSubs {
    float: left;
    width: 260px;
}

.menuTitle {
    display: none;
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 16px;

}

.menuIcon {
    display: block;
    float: left;
    background: no-repeat center;
    height: 50px;
    width: 80px;
    color: white;
}

.menuEntity {
    float: left;
    height: 56px;
    width: 100%;
    background: no-repeat center;
}

.menuEntity[data-id='playlists'] {
    background-image: url('../assets/icons/ic_view_list_white_36px.svg');
}

.menuEntity[data-id='genres'] {
    background-image: url('../assets/icons/ic_genres_white_36px.svg');
}

.menuEntity[data-id='settings'] {
    background-image: url('../assets/icons/ic_settings_white_36px.svg');
}

.catalogTitles:before {
    content: '';
    float: left;
    display: block;
    height: 48px;
    width: 72px;
    font-size: 24px;
    background: no-repeat center;
}

.catalogTitles {
    color: white;
    display: block;
    height: 48px;
    font-size: 24px;
    font-weight: 200;
    line-height: 48px;
    vertical-align: middle;
}

#playlistsTitle:before {
    background-image: url('../assets/icons/ic_view_list_white_36px.svg');
}

#genresTitle:before {
    background-image: url('../assets/icons/ic_genres_white_36px.svg');
}

#settingsTitle:before {
    background-image: url('../assets/icons/ic_settings_white_36px.svg');
}

.catalogEntity {
    display: block;
    height: 48px;
    padding-left: 72px;
    font-size: 20px;
    color: white;
    line-height: 48px;
}

.catalogEntity.spotlight {
    background-color: #00ACC1;
}

.catalogTitles.highlight {
    color: white;
}

.menuEntity {
    display: block;
    height: 64px;
    color: white;
}

.catalogEntity:first-letter {
    text-transform: uppercase
}

#catalog.open {
    left: 0;
    visibility: visible;
}

#chans {
    position: relative;
    width: 816px;
    height: inherit;
    overflow: hidden;
    float: left;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16),0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 10;
    background-color: #455A64;
}

#chans.withCatalog {
    left: 0;
    opacity: .87;
}

.chan {
    width: 100%;
    height: 96px;
    overflow: hidden;
}

.logoChan {
    position: relative;
    width: 176px;
    height: 72px;
    margin: 12px 16px;
    float: left;
}

.previewChan {
    position: relative;
    width: 160px;
    height: 90px;
    margin: 3px 6px;
    float: right;
}

.chanPic, .chanPreview {
    background: no-repeat center;
    background-size: contain;
    display: block;
    margin: auto;
}

.chanPic {
    width: 144px;
    height: 72px;
}

.chanPreview {
    height: 90px;
    width: 160px;
}

.favStar {
    position: absolute;
    left: 0;
    top: 0;
    height: 18px;
    width: 18px;
    background: url('../assets/icons/ic_star_yellow_18px.svg') no-repeat center;
}

.activeChan {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 18px;
    width: 18px;
    background: url('../assets/icons/channel_active.gif') no-repeat center;
}

.programContent {
    position: relative;
    float: left;
    width: 384px;
    height: 72px;
    margin: 12px 16px;
    overflow: hidden;
}

.titleProg {
    color: white;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
    text-align: left;
    margin-bottom: 8px;
}

.textProg {
    font-stretch: normal;
    color: white;
    font-size: 16px;
    line-height: 18px;
    display: block;
    width: 360px;
    height: 36px;
    overflow: hidden;
    opacity: .7;
}

.timeStart {
    position: absolute;
    right: -56px;
    top: 0;
    font-size: 20px;
    line-height: 1.55;
    color: white;
}

.cat, .subcat {
    display: block;
    font-size: 16px;
    padding-left: 24px;
    line-height: 48px;
    color: white;
    margin-bottom: 30px;
}

.spotlight {
    color: white;
    background-color: rgb(96, 125, 139);
}

.spotlight .timeStart {
    /*color: rgba(255, 255, 255, .7);*/
}

.spotlight .titleProg {
    /*color: rgba(255, 255, 255, 1);*/
}

.spotlight .textProg {
    /*color: rgba(255, 255, 255, .7);*/
}

.menuEntity.spotlight {
    background-color: rgba(0, 172, 193, 1);
}

.chan.highlight {
}

.chan.spotlight {
    background-color: #00ACC1;
}

#fullEpg {
    width: 128px;
    background-color: rgb(84, 110, 122);
    /*height: 590px;*/
    overflow: hidden;
    float: left;
}

.smallEpgSS {
    width: 100%;
    height: 72px;
    margin-bottom: 46px;
}

#legend {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: rgba(38, 50, 56, .7);
    color: white;
    vertical-align: middle;
    line-height: 18px;
    font-weight: bold;
    padding: 26px 72px;
}

#legend .hint {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    margin-right: 40px;
}

.button {
    width: 30px;
    height: 18px;
    border-radius: 2px;
    float: left;
    margin-right: 18px;
}

.yellow {
    background-color: rgb(255, 234, 0);
}

.red {
    background-color: rgb(255, 61, 0);
}

.green {
    background-color: rgb(100, 221, 23);
}

.blue {
    background-color: rgb(41, 98, 255);
}