body > div{
	margin: 0;
	padding: 0;
	font-family: "Roboto", san-serif;
}
body{
	margin:0px;
}

#loading{
	height: 100%;
	width: 100%;
	background-color: white;
	position: absolute;
	top:0;
	left: 0;
	z-index: 5;
}
	.loadingTitle{
		font-size:30px; 
		position:absolute; 
		top:50%; 
		left:50%
	}
#browseView{
	position: absolute;
	height:100%;
	width: 100%;
	background:rgba(0,0,0,0.25);
}

#iPlayer{
	position: fixed;
	top:0;
	height: 100%;
	width:100%;
}

#menu{
	width:100px;
	height: 100%;
	float:left;
	background-color: #2196F3;

}
#catalog{
	float:left;
	width:100px;
	height:100%;
	background-color: #FF80AB;
;
}
	.catalogentity{
		display: block;
		height: 50px;
		color:white;
		box-shadow: 2px 2px 0px 0px #5D4037;
	}
	span.catalogentity{
		line-height: 50px;
	} 

#chans{
	width:100px;
	height: 100%;
	overflow: auto;
	display: block;
	float:left;
	background-color: lightblue;
}
.chan {
		width: 100%;
		height: 80px;
		margin-bottom:8px;
		opacity: 0.54;
	    background-repeat: no-repeat;
	    background-size: 80%;
	    background-position: center;
	}
	.chan:hover{
		opacity: 0.87;
	}

	.chan:focus{
		opacity:0.87;
	}

.cat, .subcat{
		/*width:100%;*/
		display: block;
		font-size: 16px;
		padding-left:24px;
		line-height: 48px;
		color:white;
		margin-bottom: 30px;
	}
/*Основной центр внимания*/
.spotlight {
	border: 3px solid yellow ;
	background-color: black;
}

/*Подсветка выбраного индекса*/
.highlight {
	background-color:  black;
}



#fullepg{
	width:300px;
	height: 100%;
	overflow: auto;
	display: block;
	float:left;
	background-color: #C51162;
}
	.epgentity{
		display: block;
		/*border:2px solid blue;*/
		color:white;
		height: 40px;
		border : 1px solid grey;

	}

#programinfo{
	width:300px;
	height:100%;
	display: block;
	float:left;
	background: tomato;
}
	.programinfotext {
		color: white;
	}