.footer {
  position: absolute;
  /*visibility: hidden;*/
  bottom:20px;
  left: 160px;
  width:calc(100% - 305px);
  z-index: 5;
  height: 120px;
  background: rgba(100,100,190,1);
  overflow: auto;
  white-space:nowrap;
/*  overflow-x:scroll;
  overflow-y:hidden; */ 
  /*background: #6b6b6b;*/
  font-size:1em;}
  
  .epgNow, .epgNext{
    margin-left:0;
    width:352px;
    height: 100%;
    display: inline-block;
    margin-right:8px;
    border-radius: 2px;
    transition: all 150ms linear;
    background: rgba(61,61,61,0.54);
  }

.chanToRemove{
  /*margin-right:-356px;*/
  transform: translateX(-250px);
}