.footer {
  position: absolute;
  /*visibility: hidden;*/
  bottom:0;
  left: 285px;
  width:calc(100% - 305px);
  z-index: 5;
    white-space:nowrap; 
  height: 120px;
  background: rgba(61,61,61,0);
  z-index: 5;
  overflow-x: auto;
  overflow-y: auto; 
  font-size:1em;}

  .epgNext{
    /*margin-left:8px;*/
    word-wrap:break-word;
      white-space:normal; 

    margin-top:0;
    margin-bottom: 0;
    color: white;
    padding:8px;
    /*margin-bottom: -4px;*/
    width:352px;
    height: 100%;
    /*float:right;*/
    display:block;
    float:left;
    margin-right:8px;
    border-radius: 2px;
    transition: all 150ms linear;
    background: rgba(61,61,61,0.54);
  }
  .epgNext span{
    word-wrap:break-word;
    display: inline;
  }
  .epgNow:focus, .epgNext:focus{
    /*transform:scale(1.5);*/
  }

  .epgTimeLine {
    position: relative;
    padding: 0;
    top:-6px;
    height: 2px;
    display: block;
    width:352px;
    /*opacity: 0.54;*/
    background-color: rgba(255,255,255,0.7);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden; 
    -webkit-transition: width 0.3s linear;
    }
    .epgTimeLineActive {
      position:absolute;
      top:-8px;
/*      margin:0;
      padding:0;*/
      opacity: 1;
      background: green;
      width: 70%;
    }