#app_bar {
    position: fixed;
    color: #fff;
    height: 40px;
    top: 0;
    transform: translateY(-72px);
    left: 0;
    right: 0;
    padding: 16px 32px 16px 72px;
    background: rgba(96, 125, 139, .95);
    background-size: 40px 40px;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 40;
    transform-origin: 100% 50%;
    animation: app_bar_close_animation .3s both;
}

#app_bar.visible {
    animation: app_bar_open_animation .3s both;
}

@keyframes app_bar_open_animation {
    0% { transform: translateY(-72px); }
    100% { transform: translateY(0px); }
}

@-webkit-keyframes app_bar_close_animation {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-72px); }
}

#app_bar > .logo {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../assets/logotvcolor.svg') no-repeat;
    background-size: 40px;
    left: 16px;
}

#app_bar.transparent {
    background-color: rgba(0, 0, 0, 0);
}

#app_bar > * {
    display: inline-block;
    line-height: 40px;
    height: 40px;
}

#app_bar > .title {
    float: left;
    width: 0;
    overflow: hidden;
    display: block;
}

#app_bar > .title.visible {
    width: 216px;
}

#app_bar > .title > span.secondary {
    opacity: .7;
    margin-right: 8px;
}

#app_bar > .channel_info {
    line-height: normal;
    overflow: hidden;
}

#app_bar > .channel_info > * {
    float: left;
    font-size: 16px;
    height: 40px;
}

#app_bar > .channel_info > .number {
    line-height: 64px;
    width: 32px;
    text-align: center;
    opacity: .7;
}

#app_bar > .channel_info > .channel_logo {
    width: 80px;
    height: 40px;
    margin: 0 56px;
}

#app_bar > .channel_info > .column {
    position: relative;
    top: -4px;
    margin-right: 64px;
}

#app_bar > .channel_info > .column > * {
    max-width: 300px;
}

#app_bar > .channel_info > .column > .title {
    height: 18px;
    font-family: "robotoregular", sans-serif;
}

#app_bar > .channel_info > .column > .title span {
    font-size: 16px;
    line-height: 22px;
    height: 22px;
    /*height: inherit;*/
    vertical-align: middle;
    opacity: .7;
    display: inline-block;
}

#app_bar > .channel_info > .column > .title > .number {
    font-family: "roboto_condensedregular", sans-serif;
    margin-right: 16px;
}

#app_bar > .channel_info > .column > .title > .channel {
    opacity: 1;
}

#app_bar > .channel_info > .column > .content {
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#app_bar > .userpic[src=""], #app_bar > .userpic:not([src]) {
    content: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
}

#app_bar > .userpic {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 16px;
    background-image: url('../assets/icons/ic_account_circle_white_48px.svg');
    /*background-image: url('../assets/icons/ic_account_circle_white_48px.png');*/
    background-size: 100% 100%;
    border-radius: 50%;
}
